# A 'version' é obsoleta, pode remover
version: '3.8'

services:
  # O serviço 'db' local foi removido porque agora usamos o Supabase

  redis:
    image: "redis:7-alpine"
    ports:
      - "6379:6379"

  backend: # (Ou 'cashflow-backend', o nome do seu serviço)
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    environment:
      # --- VARIÁVEIS ATUALIZADAS PARA O SUPABASE ---
      - DB_HOST=aws-1-us-east-1.pooler.supabase.com
      - DB_NAME=postgres
      - DB_USER=postgres.lxruvrxicvtgexvumfjn
      - DB_PASS=12345@Supabase # <-- COLOQUE SUA SENHA AQUI
      - DB_PORT=5432
    depends_on:
      - redis

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    # O frontend precisa saber onde está o backend
    # (Seu Dockerfile do frontend precisa usar isso)
    environment:
      - REACT_APP_API_URL=http://localhost:8000

  celery_worker:
    build: ./backend
    command: celery -A cashflow_backend worker -l info
    environment:
      # O Celery também precisa das credenciais do Supabase
      - DB_HOST=aws-1-us-east-1.pooler.supabase.com
      - DB_NAME=postgres
      - DB_USER=postgres.lxruvrxicvtgexvumfjn
      - DB_PASS=12345@Supabase # <-- COLOQUE SUA SENHA AQUI
      - DB_PORT=5432
    depends_on:
      - backend
      - redis